* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  /* background-color: #202124; */
  color: rgb(54, 53, 53);
}

input:focus{
  border-color: #9DC183;
}

input, textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: rgb(75, 70, 70);
  border: 1px solid #9DC183;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: #9DC183;
  font-weight: bold;
}

.note-app__header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
  color: white;
  background-color: #9DC183;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-app__title{
  padding-top: 100px;
  text-align: center;
  color: #86918b;
}

.note-app__title-item{
  text-align: center;
  color: #86918b;
  margin-bottom: 10px;
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input, .note-input textarea {
  display: block;
  width: 100%;
  outline-color: #9DC183;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #9DC183;
  font-family: 'Inter', sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.note-input button:hover{
  color: #535151;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #aaa;
  margin-top: 20px;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  padding: 10px 10px;
  box-shadow: 3px 3px 10px #9DC183;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  color:#9DC183
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,.note-item__archive-button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  color: #ff5f52;
}

.note-item__button{
  display: flex;
  gap: 10px;
}

.note-item__archive-button {
  background-color: #9DC183;
  color: #ffffff;
}

.note-item__archive-button:hover {
  color: #86918b;
}

.note-item__delete-button:hover {
  color: #b00020;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
